<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="webjars/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Home page</title>
</head>
<body>
<section>
	<div class="container">
		<div class="row pt-5">
			<div class="col taxt-center">
				<h1>Pagina di test per deploy in openshift</h1>
				<p>Upload del progetto tramite <strong>S2T</strong></p>
			</div>
		</div>
	</div>
</section>

</body>
</html>